body {
  background: darkblue;
}

.middle_main1 {
  margin-left: 0%;
  height: auto;
  width: 80%;
  float: center;
  background-color: rgb(187, 123, 111);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-ye28 {
  background-color: #333333;
  color: #000000;
  text-align: left;
  vertical-align: top
}

.tg .tg-8m24 {
  background-color: #000000;
  text-align: left;
  vertical-align: top
}


.table1 {
  width: 100%;
  height: fit-content;
  float: left;
  padding-bottom: 5%;
  padding-right: 1%;

}

.question {
  font-size: 150%;
  color: rgb(0, 55, 72);
  width: fit-content;
  height: fit-content;
  text-align: left;
}

.answer {
  font-size: 90%;
  color: white;
  width: fit-content;
  height: fit-content;
}

.answer a {
  padding: 0%;
}

.instruction {
  width: 100%;
  height: auto;
}

.instruction_txt {
  width: 100%;
  height: fit-content;
  text-align: left;

  margin-left: 5px;
}

.instruction_txt2 {
  width: 100%;
  height: fit-content;
  text-align: left;
  margin-bottom: 10%;
  margin-left: 10%;

}

.instruction_txt3 {
  width: 100%;
  height: fit-content;
  text-align: left;
  padding-top: 5%;
  margin-bottom: 5%;

}

.instruction_img {
  width: 100%;
  height: fit-content;

}

.afb {
  width: 50px;
  margin-left: 10%;
  background-image: url(../images/AD_LOG_hover.png);
  background-repeat:no-repeat ;
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  /*background: yellow;*/
  float: left;
}

.afb2 {
  margin-left: 10%;
  padding-bottom: 10%;
}

h1 {
  font-size: 350%;
}


















/*
.modal-parent{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}

.modal{
  background: white;
  width: 70%;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: arial;
  position: relative;
  animation: drop 1s;
}
@keyframes drop {
  0%{
    top: -100px;
  }
  100%{
    top: 50%;
  }
}

.X{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.section1{
  transition: 2s;
}