/*body tag settings*/
body{
    margin: 0%;
}

/*top layout*/
.top{
    height: 50px;
    width: 100%;
    float: left;
    background-color: red;

}
.upper_left{
    height: 100%;
    width: /*fit-content*/20%;
    float: left;
    background-color: orange;
}
.upper_right{
    height: 100%;
    width: /*fit-content*/20%;
    float: right;
    background-color: orange;
}
/*middle layout*/
.middle{
    height:  400px/*fit-content */;
    width:  100%;
    float: left;
    display: flex;
    background-color: green;
    
}

.middle_left{
    height: 100%;
    width: 10%;
    float: left;
    background-color: blue;
    color: transparent;/*the text keeps the border from hiding under top div*/
    
}
.middle_main{
    height: 100%;
    width: 80%;
    float: left;
    background-color: rebeccapurple;
    
}
.middle_right{
    height: 100%;
    width: 10%;
    float: left;
    background-color: blue;
    color: transparent;/*the text keeps the border from hiding under top div*/
    
}
/*lower layout*/
.bottom{
    height: 50px ;
    width:  100%;
    float: left;
    
}
.lower_left{
    height: 100%;
    width: 30%;
    float: left;
    background-color: red;
    position: relative;
}
.lower_middle{
    height: 100%;
    width: 40%;
    float: left;
    background-color: orange;
    position: relative;
}
.lower_right{
    height: 100%;
    width: 30%;
    float: left;
    background-color: red;
    position: relative;
}