/*body tag settings*/
body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;  
}

/*top layout*/
.top{
    height: 60px;
    width: 100%;
    float: left;
    background-color:rgb(0, 85, 92);
}

/*menu section settings*/
.upper_left{
    height: 100%;
    width: /*fit-content*/45%;
    float: left;
    background-color: transparent;
    text-decoration: none;
    opacity: 100%;
    padding-top: 10px;
    display: flexbox;
    flex-direction: row;
    text-align: center;
}

.NAVcontainer{
    float: left;
}
.menuknop {
    background-color: transparent;
    border:solid transparent;
    font-size: 120%;
    text-align: center;
    margin: 5px ;
    padding: 5px;
    line-height: 28px;
    width: 45px;
}

.menuknopp:hover {
    background:rgb(229, 106, 84) ;
    padding: 2px;
    border-radius: 5%;
}

.menuknopp { 
    text-decoration: none;
    color: white;
}

div.menuknop {
    display: inline;
    margin: 0px;       
}

/*Translate section settings*/
.upper_right{
    height: 100%;
    width: /*fit-content*/20%;/*12*/
    float: right;
    padding-top: 10%;
    margin: 5px ;
    padding: 5px;
    line-height: 28px;
    background: transparent;
}

.image{
    height: 50px;
    background: url(../images/AD_LOG_hover.png);
    background-repeat: no-repeat;
}

.adminlog :hover{
    background-image:url(../images/AD_LOG_hover.png);
} 

/* Link to English Page  */
#NL-EN {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 50px;
    font-size: 30px;
}

#NL-EN img {
    height: 40px;
    width: 80px;
    margin-top: 5px;
    border-radius: 10px;
}

.transwrap{
    height: fit-content;
    float: left;
    position: relative;
    margin-top: -2%;
    margin-right:-10% ;
}
/*middle layout*/
.middle{
    height:  auto;
    width:  100%;
    float: left;
    display: flex;
    background-color: rgb(229, 106, 84);
}

.middle_left{
    height: auto;
    width: 10%;
    float: left;
    background-color: transparent;
    color: transparent;/*the text keeps the border from hiding under top div*/ 
}

.middle_main{
    margin-left: 10%;
    height: auto;
    width: 80%;
    float: center;
    background-color: transparent;  
}
.border{
    color: transparent;
}
.middle_main table{

    text-align: left;
}
/*float: left;
background-color: transparent;
color: white;*/


.middle_right{
height: auto;
width: 10%;
float: left;
background-color: transparent;
color: transparent;/*the text keeps the border from hiding under top div*/ 
}

/*lower layout*/
.bottom{
    height: 50px ;
    width:  100%;
    float: left;
    background-color:rgb(0, 85, 92);
}

.lower_left{
    height: 100%;
    width: 30%;
    float: left;
    background-color: transparent;
    position: relative;
} 

.lower_middle{
    height: 100%;
    width: 40%;
    float: left;
    background-color: transparent;
    position: relative;
}

.lower_right{
    height: 100%;
    width: 30%;
    float: left;
    background-color: transparent;
    position: relative;
}

.menuheader{
  font-size: 20pt;
  margin-left: 18%;
  font-weight: bold;
}